<%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/envio.css">
    </head>
    <%- include('../partials/header'); %>

        <main>
            <div class="row">
                <form action="/upload-waterfile" method="POST" enctype="multipart/form-data" id="formWaterFile">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputWaterFile" name="waterFile">
                        <label class="input-group-text" for="inputGroupFile01">Fila de água</label>
                        <button type="submit" class="btn btn-primary">
                            Enviar
                        </button>
                    </div>
                </form>
                <form action="/upload-eletrofile" method="POST" enctype="multipart/form-data" id="formEletroFile">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputEletroFile" name="eletroFile">
                        <label class="input-group-text" for="inputGroupFile01">Fila de eletro</label>
                        <button type="submit" class="btn btn-primary">
                            Enviar
                        </button>
                    </div>
                </form>
                <form action="/upload-servicefile" method="POST" enctype="multipart/form-data" id="formServiceFile">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputServiceFile" name="serviceFile">
                        <label class="input-group-text" for="inputGroupFile01">Fila de telefonia</label>
                        <button type="submit" class="btn btn-primary">
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
            <div class="row" id="result">
                
            </div>
        </main>


        <%- include('../partials/footer'); %>