<%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/main.css">
    </head>
    <%- include('../partials/header'); %>

        <main>


        </main>

        </div> <!--  final container -->

        <%- include('../partials/footer'); %>